@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	color: white;
}

header{
	font-size: 20px;
	margin:10px 0;
	text-align: center;
}

nav ul{	
	padding-top:20px;
	height:30px;
	background-color:gray;
	font-size: 16px;
	line-height: 10px;
	width:100%;
}

nav ul li {
	list-style: none;
	float: left;
	padding: 0 10px;
}

footer{
	position:fixed;
	bottom : 0;
	width:100%;
	background-color: black;
	color: white;
	text-align:center;
	padding: 10px 0;
}

section{
	position:absolute;
	width:100%;
	padding-left: 50px;
	margin: 0 auto;
    background-color: darkgray;
}
.tb_btn{
	text-align: center;
}
.Card_con li{
	list-style: none;
    float: left;
    text-align: center;
    width: 280px;
    height: 470px;
    margin: 150px 100px 0 200px;
    /*background-image: url("https://static.wixstatic.com/media/c3955d_add0899eccc848ceaea29be01f82a25f~mv2.png/v1/fill/w_285,h_474,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/%EC%B9%B4%EB%93%9C%20%EB%92%B7%EB%A9%B4.png");*/
    
}
.cardForm{
	width: 280px;
    height: 470px;
    background-color: aqua;
    margin: 0 auto;
    margin-top: 100px;
}
.cardForm input {
	position: relative;
	text-align: center;
}
.cardForm .L_attact{
	position:relative;
	top: 57%;
    left: -95px;
}
.cardForm .L_defense{
	position:relative;
	top: 57%;
    left: 60px;
}
.cardForm .L_name{
	position: relative;
    top: 43%;
    left: -105px;
}
.cardForm .attack {
	
    top: 65%;
    left: 10px;
    height: 40px;
    
}
.cardForm .defense {
	
    top: 65%;
    left: 60%;
    height: 40px;
}
.card_sel {
    float: right;
    margin-right: 10px;
}
.cardForm .name{
    left: 50px;
    top: 40%;
}
.list_con{
    width: 80%;
    margin: 0 auto;
    height: 100%;
	
}
.list_con ul {
	width:100%;
}
.list_con ul li {
	float: left;
	list-style: none;
    margin: 30px 20px 60px 120px;
    width:180px;
    height:310px;
    background-image: url("./images/card_back.png");
    background-size: cover;
    text-align: center;
    cursor: pointer;
}

.List_attack {
	position: relative;
    top: 240px;
    left: -10px;
}
.List_hp {
	position: relative;
    top: 237px;
    left: 39px;
}

.list_attack_point{
    position: relative;
    top: 217px;
    left: -111px;
    font-size: 25px;
    color: white;
}
.list_hp_point{
    position: relative;
    top: 217px;
    left: -19.5px;
    font-size: 25px;
    color: white;
}

.list_name{
    position: relative;
    top: 240px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 5px;
}


.view_con{
	display:flex;
	list-style: none;
    margin: 30px 20px 60px 120px;
    width:410px;
    height:715px;
    background-image: url("./images/card_front.png");
    background-size: cover;
    text-align: center;
    margin: 20px auto 50px auto;
}
.view_con div img,span{
	position: relative;
	color: white;
	font-size: 40px;
}
.mod_input{	border: none; width: 23px; font-size: 30px; text-align: center; border-radius: 5px;}
.mod_desc{border: none;
    width: 377px;
    height: 49px;
    font-size: 30px;
    text-align: center;
    border-radius: 5px;
    padding: 75px 0;
    position: relative;
    top: -50px;
    background: #ab957f}
.mod_name {font-size: 25px; text-align: center; font-weight: bold;}
.view_attack 		{top: 600px; left: -90px; width:90px;}
.view_hp 			{top: 592px; left: 135px;  width:67px;}
.view_attack_point	{top: 574px; left: -219px; }
.view_hp_point		{top: 574px; left: 55.5px; }
.view_name			{position: relative; top: 135px; font-size:40px; font-weight: bold; color:white;}
.view_desc { margin-top: 245px; margin-left: 12px; width: 377px; background: #ab957f; border-radius: 10px; padding: 50px 0; overflow-wrap: break-word; font-size:30px; height:100px;}
.view_rarity {width: 165px; border-radius:5px; text-align: center; font-size: 20px; position: relative; top: -550px; left:90px; background: #ab957f; appearance:none; letter-spacing: 12px; padding-left: 10px; font-family: 'Jua', sans-serif; color:white;}
.view_rarity option {letter-spacing: 12px;}
.border_L{	border: 5px solid gold;    border-radius: 30px;}
.border_U{	border: 5px solid violet;    border-radius: 30px;}
.border_R{	border: 5px solid skyblue;    border-radius: 30px;}
.border_N{	border: 5px solid white;    border-radius: 30px;	}

.view_border_L{	border: 8px solid gold;    border-radius: 30px; height: 705px; width:402px; padding-right: 10px;}
.view_border_U{	border: 8px solid violet;  border-radius: 30px; height: 705px; width:402px; padding-right: 10px;}
.view_border_R{	border: 8px solid skyblue; border-radius: 30px; height: 705px; width:402px; padding-right: 10px;}
.view_border_N{	border: 8px solid white;   border-radius: 30px; height: 705px; width:402px; padding-right: 10px;}

.view_btn{width: 100px; background-color: #ab957f; padding: 20px; margin: 10px 0 40px 10px; border-radius: 5px; font-weight: bold; color:white; cursor: pointer;}


table {
	width: 600px;
	margin: 20px auto;
	text-align: center;
}

table, tr, th, td {
	border: 1px solid #333;
	border-collapse: collapse;
	padding: 0.7rem;
}
