@charset "UTF-8";

*{margin: 0;padding: 0;}

a{	text-decoration: none; color: white;}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

header{
	height: 100px;
    line-height: 100px;
    font-size: 40px;
    /* margin: 10px 0; */
    text-align: center;
    background-color: black;
    color:white;
}

body{
	overflow-x:hidden;
}
/*nav ul{	
	padding-top:20px;
	height:30px;
	background-color:darkgray;
	font-size: 16px;
	line-height: 10px;
	width:100%;
}

nav ul li {
	list-style: none;
	float: left;
	padding: 0 10px;
}*/

nav ul li a{
	color:white !important;
}

footer{
	position:fixed;
	bottom : 0;
	width:100%;
	background-color: black;
	color: white;
	text-align:center;
	padding: 10px 0;
}

section{
	position:absolute;
	top:155px;
	width:100%;
	margin: 0 auto;
    background: linear-gradient(8deg, gray, transparent);
    padding-bottom: 100px;
    
}
body{
 -ms-overflow-style: none;
 }
 
::-webkit-scrollbar {
  display: none;
}
.hg100{height: 100%;}
.flex_div{position: absolute; left: 85%; top: 1.5%;}

.index_sec, .log_sec{height: 100%;}

.tb_btn{text-align: center;}

.Card_con li{
	list-style: none;
    float: left;
    text-align: center;
    width: 280px;
    height: 470px;
    margin: 150px 100px 0 200px;
    /*background-image: url("https://static.wixstatic.com/media/c3955d_add0899eccc848ceaea29be01f82a25f~mv2.png/v1/fill/w_285,h_474,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/%EC%B9%B4%EB%93%9C%20%EB%92%B7%EB%A9%B4.png");*/
    
}
.cardForm{
	width: 280px;
    height: 470px;
    background-color: aqua;
    margin: 0 auto;
    margin-top: 100px;
}
.cardForm input {position: relative;text-align: center;}
.cardForm .L_attact	{ position:relative; top: 57%; left: -95px;}
.cardForm .L_defense{ position:relative; top: 57%;  left: 60px;}
.cardForm .L_name	{ position:relative; top: 43%; left: -105px;
}
.cardForm .attack  { top: 65%; left: 10px; height: 40px;}
.cardForm .defense { top: 65%; left: 60%; height: 40px;}
.cardForm .name	   { left: 50px; top: 40%;}

.card_sel {float: right; margin-right: 10px;}

.list_con{width: 77%; margin: 0 auto; height: 100%; text-align: center;}
.list_con ul {width:100%;}
.list_con ul li {
	position:relative;
	float: left;
	list-style: none;
    margin: 30px 20px 60px 120px;
    width:180px;
    height:310px;
    background-image: url("./images/card_back.png");
    background-size: cover;
    text-align: center;
    cursor: pointer;
}

.index_con{width: 80%;margin: 100px auto 0 auto;height: 100%; text-align: center;}
.index_con h1 { margin-bottom: 20px; }
.index_con ul {width:100%; text-align: center;}
.index_con ul li {
	position:relative;
	display:inline-block;
	list-style: none;
    margin: 70px 20px 60px 120px;
    width:180px;
    height:310px;
    background-image: url("./images/card_back.png");
    background-size: cover;
    text-align: center;
}
.index_con ul li span {	font-size:28px;}
.idx_cno {
	position:relative; 
	top:325px; 
	color:white; 
	font-size: 28px; 
	background: black;
    opacity: 40%;
    border-radius: 10px;
} 


.con_pickbtn{margin-left: 100px;}
.pick_con{width: 80%;margin: 40px auto 0 auto;height: 100%; text-align: center;}
.pick_con h1 { margin-bottom: 20px; }
.pick_con ul {width:100%; text-align: center;}
.pick_con ul li {
	position:relative;
	display:inline-block;
	list-style: none;
    margin: 35px 20px 60px 120px;
    width:180px;
    height:310px;
    background-image: url("./images/card_back.png");
    background-size: cover;
    text-align: center;
}
.pick_con ul li span {	font-size:24px;}
.pick_cno {
	position:relative;
 	top:335px; 
 	color:white; 
 	font-size: 28px;
 	background: black;
    opacity: 40%;
    border-radius: 10px;
} 

.List_attack {
	position: absolute;
    top: 240px;
    left: 0px;
}
.List_hp {
    position: absolute;
    top: 239px;
    left: 120px;
}

.list_attack_point{
    position: absolute;
    top: 257px;
    left: 31px;
    font-size: 25px;
    color: white;
}
.list_hp_point{
    position: absolute;
    top: 257px;
    left: 140px;
    font-size: 25px;
    color: white;
}

.list_name{
    position: absolute;
    top: 320px;
    left: 5px;
    width: 100%;
    color: black;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 5px;
}

.view_con{
	display:flex;
	list-style: none;
    margin: 30px 20px 60px 120px;
    width:410px;
    height:715px;
    background-image: url("./images/card_front.png");
    background-size: cover;
    text-align: center;
    margin: 20px auto 50px auto;
}

.mod_input{	border: none; width: 23px; font-size: 30px; text-align: center; border-radius: 5px;}
.mod_desc{border: none;
    width: 377px;
   /* height: 49px; */
    font-size: 30px;
    text-align: center;
    border-radius: 5px;
    padding: 75px 0;
    position: relative;
    top: -50px;
    background: #ab957f;
    overflow: hidden;
}
.mod_name {font-size: 25px; text-align: center; font-weight: bold;}
.view_attack {
	position:absolute;
	top: 600px;
	left: 0px;
	width:90px;
}
.view_hp {
	position:absolute;
	top: 600px;
	left: 320px;  
	width:67px;
}
.view_attack_point {
    position: absolute;
    top: 624px;
    left: 41px;
    color: white;
    font-size: 32px;
}
.view_hp_point {
	position: absolute;
    top: 624px;
    left: 345px;
    color: white;
    font-size: 32px;
}
.view_name {
	position: relative;
	top: 135px;
	font-size:34px;
	font-weight: bold;
	color:white;
}
.view_desc { 
	margin-top: 245px;
	margin-left: 12px;
	width: 377px; 
	background: #ab957f; 
	border-radius: 10px; 
	padding: 50px 0; 
	overflow-wrap: break-word; 
	font-size:30px; 
	height:100px;
}
.view_rarity {
	position: absolute; 
	top: 25px; 
	left:200px; 
	width: 165px;
	border-radius:5px; 
	text-align: center; 
	font-size: 20px; 
	background: #ab957f; 
	appearance:none; 
	letter-spacing: 12px; 
	padding-left: 10px; 
	font-family: 'Jua', sans-serif; 
	color:white;
}
.view_rarity option {letter-spacing: 12px;}

.border_L{	border: 5px solid gold;    border-radius: 30px;}
.border_U{	border: 5px solid violet;    border-radius: 30px;}
.border_R{	border: 5px solid skyblue;    border-radius: 30px;}
.border_N{	border: 5px solid white;    border-radius: 30px;	}
.border_M{	border: 5px solid darkgray;    border-radius: 30px;	}

.view_border_L{	border: 8px solid gold;    border-radius: 30px; height: 705px; width:415px; padding-right: 10px; position: relative;}
.view_border_U{	border: 8px solid violet;  border-radius: 30px; height: 705px; width:415px; padding-right: 10px; position: relative;}
.view_border_R{	border: 8px solid skyblue; border-radius: 30px; height: 705px; width:415px; padding-right: 10px; position: relative;}
.view_border_N{	border: 8px solid white;   border-radius: 30px; height: 705px; width:415px; padding-right: 10px; position: relative;}
.view_border_M{	border: 8px solid darkgray;   border-radius: 30px; height: 705px; width:415px; padding-right: 10px; position: relative;}

.c1{color:gold;}
.c2{color:violet;}
.c3{color:skyblue;}
.c4{color: white;}



.view_btn{
	width: 110px; 
	background-color: #ab957f; 
	padding: 20px; 
	margin: 10px 0 40px 10px; 
	border-radius: 5px; 
	font-weight: bold; 
	color:white; 
	cursor: pointer;
	box-shadow: black 2px 2px 2px;
}

.fl_btn{
	width: 125px; 
	background-color: #ab957f; 
	padding: 20px; 
	margin: 10px 0 40px 10px; 
	border-radius: 5px; 
	font-weight: bold; 
	color:white; 
	cursor: pointer;
	box-shadow: black 2px 2px 2px;
}
.blockbtn{display: block;}
.fl_off{display: none;}

.con_btn{
	margin-left: 30px;
}

.srt_select{
	display:block;
	width: 125px; 
	background-color: #ab957f; 
	padding: 20px; 
	margin: 10px 0 40px 10px; 
	border-radius: 5px; 
	font-weight: bold; 
	color:white; 
	cursor: pointer;
	box-shadow: black 2px 2px 2px;
	appearance:none; 
	font-family: 'Jua', sans-serif; 
	border: 2px solid black;
	text-align: center;
}
.srt_select option {text-align: center;}


.pick_btn{
	width: 190px; 
	background-color: #ab957f; 
	padding: 20px; 
	margin: 40px 20px; 
	border-radius: 5px; 
	font-weight: bold; 
	color:white; 
	cursor: pointer;
	box-shadow: black 2px 2px 2px;
	font-size: 20px;
}

table {
	width: 1000px;
	margin: 20px auto;
	text-align: center;
}

table, tr, th, td {
	border: 1px solid #333;
	border-collapse: collapse;
	padding: 1.4rem;
}
tbody{border: 2px solid #333;}

.log_con{
    
    position: absolute;
    left: 0px;
    height: 700px;
    width: 100vw;
    text-align: center;
}
.log_con table{background-color: white; margin-top:50px;}
.pageing{
	position: absolute;
    top: 115%;
    width: 100%;
    margin: 0 auto;
}

.pagination > li > a
{
    background-color: black !Important;
    color: #5A4181;
}

.pagination > li > a:focus,
.pagination > li > a:hover
{
    color: #5a5a5a !Important;
    background-color: #eee;
}

.page-link.active 
{
	border-color:white !Important;
    color: black !Important;
    background-color: white !Important;
}

.norow{
	margin-top: 100px;
    text-align: center;
    background-color: black;
    display: inline-block;
    color: white;
    padding: 20px;
}
.modal_container{
	display:none;
	background: rgb(0,0,0,0.8);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index:1;
}
.modal_login{
	margin: 0 auto;
    position: relative;
    top: 23%;
    width: 650px;
    height: 265px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
}
.modal_table{
	position: absolute;
    top: 20px;
    left:75px;
	width:500px;
}
.modal_btn{
	border: none;
    background-color: #91b3c1;
    width: 150px;
    height: 40px;
    font-size: 22px;
    position: relative;
    top: 200px;
    cursor: pointer;
}
.btnpointer{cursor: pointer;}
.red{background-color:#d56d6d; color:white;}
.pwd_Y{color:green !important}
.pwd_N{color:red !important}
.join_container{
    width: 35%;
    margin: 150px auto 0 auto;
    text-align: center;
}

.noclick{
	cursor:not-allowed;
}